<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.chen.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    //联网
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    //读取外置存储卡
    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".layout.BottomMenuActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.FragmentActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.GridViewActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.ListViewActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.FrameLayoutActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.GridLayoutActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.LinearLayoutActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.LayoutActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.RelativeLayoutActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".app.AppActivity">
        </activity>
        <activity android:name=".app.ClassShopActivity">
        </activity>
        <activity android:name=".app.ShopDetailActivity">
        </activity>
        <activity android:name=".app.SettlementActivity">
        </activity>
        <activity android:name=".app.MyAddressActivity">
        </activity>
        <activity android:name=".app.MyCenterActivity">
        </activity>
        <activity android:name=".app.AddAddressActivity">
        </activity>
    </application>

</manifest>